body {
    background-color:lightgray;
    background-image: url("../images/background-img.jpg");
    background-repeat: no-repeat; 
    background-size: 100vw 100vh;
}
p {
    font-weight: bold; 
}
.text-center {
    text-align: center;
}